body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    background-image: url("./image/login.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: rgba(9, 9, 9, 0.497);
    backdrop-filter: blur(20px);

}

section {
    display: flex;
    height: 76vh;
    justify-content: center;
    align-items: center;
}
section h1{
    padding: 45px 50px;
    border-radius: 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.374);
    backdrop-filter: blur(5px);
}

footer{
    height: 9.6vh;
    background-color: rgba(255, 255, 255, 0.251);
    backdrop-filter: blur(20px);
}
footer p{
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 8vh;
    align-items: center;
}

header h1{
    color: rgb(0, 0, 0);
    margin-left: 30px;

}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 20px;
}
nav ul a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.282);
    backdrop-filter: blur(10px);
}

nav ul a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 20px;
    background-color: rgba(255, 253, 253, 0.873);
    backdrop-filter: blur(10px);
}


/* Media queries */

