body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.animation img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.animation:hover{
    animation-name: ease;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

}

.star {
    width: 2px;
    height: 2px;
    background: white;
    position: absolute;
    animation: sparkle 1.5s infinite ease-in-out;
}

@keyframes sparkle {
    0%, 100% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
}

.star:nth-child(odd) {
    animation-duration: 2s;
}

.star:nth-child(even) {
    animation-duration: 1s;
}
