body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animation{
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spin;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes  spin{
    0%{
        transform: rotatex(0deg);
    }
    50%{
        transform: translatex(100deg);
    }
    75%{
        transform: translatex(200deg);
    }
    0%{
        transform: translatex(360deg);
    }
}